:root {
  --main-bg-color: #ffcad4;
  --secondary-bg-color: #fef4fc;
  --code-bg-color: #2f1820;
  --main-text-color: #2f1820;
  --code-text-color: #b1d0d3;
  --headings-color: #5b2f3d
}

body {
  background-image: url("pinkMarbleBg.jpg");
  background-color: var(--main-bg-color);
  background-size: cover;
  color: var(--main-text-color)
}

header {
  color: var(--headings-color);
  text-align: center;
}

#navbar {
  text-align: center;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
}

#navbar h1 {
  font-size: 32px;
  margin: 10px 0;
}

#navbar ul {
  width: 100%;
  list-style-type: none;
  margin: auto;
  padding: 10px 0;
  white-space: nowrap;
  overflow-x: auto;
}

#navbar li {
  display: inline-block;
  padding: 0 10px;
}

#main-doc {
  top: 100px;
}

section {
  background-color: var(--secondary-bg-color);
}

.code-block {
  background-color: var(--code-bg-color);
  max-width: 90%;
  padding: 3px;
  margin: 5px auto;
}

code {
  color: var(--code-text-color);
  background-color: var(--code-bg-color);
}

footer {
  text-align: center;
  width: 100%;
  background-color: var(--main-bg-color);
}

footer ul {
  list-style-type: none;
  padding: 10px;
}

#logo {
  height: 50px;
}

@media (min-width:600px) {
  /* tablets and larger */
  }